adminstrador-procesos/latinus-parent/latinus-webapp/Form-Adm-Procesos/src/main/resources/arcom-ws-data.wsdl

<wsdl:definitions xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://data.ws.arcom.data.ws.arcom.latinus.net/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ArcomServiciosDataImplService" targetNamespace="http://data.ws.arcom.data.ws.arcom.latinus.net/">
<wsdl:types><xs:schema elementFormDefault="unqualified" targetNamespace="http://data.ws.arcom.data.ws.arcom.latinus.net/" version="1.0"><xs:element name="obtenerTipoEventoPorId" type="tns:obtenerTipoEventoPorId"/><xs:element name="obtenerTipoEventoPorIdResponse" type="tns:obtenerTipoEventoPorIdResponse"/><xs:complexType name="obtenerTipoEventoPorId"><xs:sequence><xs:element minOccurs="0" name="id" type="xs:int"/></xs:sequence></xs:complexType><xs:complexType name="obtenerTipoEventoPorIdResponse"><xs:sequence><xs:element minOccurs="0" name="return" type="tns:tipoEvento"/></xs:sequence></xs:complexType><xs:complexType name="tipoEvento"><xs:sequence><xs:element minOccurs="0" name="descripcion" type="xs:string"/><xs:element minOccurs="0" name="idTipoEvento" type="xs:int"/><xs:element minOccurs="0" name="nemonico" type="xs:string"/></xs:sequence></xs:complexType></xs:schema></wsdl:types><wsdl:message name="obtenerTipoEventoPorIdResponse"><wsdl:part element="tns:obtenerTipoEventoPorIdResponse" name="parameters">
    </wsdl:part></wsdl:message><wsdl:message name="obtenerTipoEventoPorId"><wsdl:part element="tns:obtenerTipoEventoPorId" name="parameters">
    </wsdl:part></wsdl:message><wsdl:portType name="ArcomServiciosData"><wsdl:operation name="obtenerTipoEventoPorId"><wsdl:input message="tns:obtenerTipoEventoPorId" name="obtenerTipoEventoPorId">
    </wsdl:input><wsdl:output message="tns:obtenerTipoEventoPorIdResponse" name="obtenerTipoEventoPorIdResponse">
    </wsdl:output></wsdl:operation></wsdl:portType><wsdl:binding name="ArcomServiciosDataImplServiceSoapBinding" type="tns:ArcomServiciosData"><soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/><wsdl:operation name="obtenerTipoEventoPorId"><soap:operation soapAction="" style="document"/><wsdl:input name="obtenerTipoEventoPorId"><soap:body use="literal"/></wsdl:input><wsdl:output name="obtenerTipoEventoPorIdResponse"><soap:body use="literal"/></wsdl:output></wsdl:operation></wsdl:binding><wsdl:service name="ArcomServiciosDataImplService"><wsdl:port binding="tns:ArcomServiciosDataImplServiceSoapBinding" name="ArcomServiciosDataImplPort"><soap:address location="http://localhost:8080/latinus-ws-data/arcom-ws-data"/></wsdl:port></wsdl:service>
</wsdl:definitions>